header {
    padding: 10px;
    background-color: $couleur_blanc;
    text-align: center;
    box-shadow: 1px 2px 5px #999;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


h1 {
    margin: 0%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-weight: bolder;
    font-size: 25px;
}

.bouton-retour {
    border: none;
    background: transparent;
    position: absolute;
    left: 20px;
    top: 20px;
    height: auto;
    text-decoration: none;
    color: black;
}

.restaurant_landing {
    width: 100%;
    height: 300px;
    position: absolute;
    z-index: -1;

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.restaurant_menu {
    margin-top: 240px;
    background-color: $couleur_light_gris;
    padding: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

    &__titre {
        font-family: 'Shrikhand';
    }

    &__icone {
        position: absolute;
        right: 40px;
        top: 335px;
    }

    &__categorie {
        margin-bottom: 50px;
    }

    .categorie_titre {
        border-bottom: solid $couleur_tertiaire 3px;
        font-size: large;
        width: 50px;
    }

    &__item {
        background-color: $couleur_blanc;
        border-radius: 15px;
        padding: 10px;
        margin: 20px 0px;
        height: 50px;
        box-shadow: 0px 5px 5px rgba(0,0,0,0.2);

        > .menu_item_titre {
            margin: 5px 0px;
        }

        > .menu_item_description {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
            > .menu_item_prix {
                font-weight: bolder;
            }
        }
        
    }
}

.commander {
    text-align: center;

    &__bouton {
        margin: 20px;
        width: 180px;
        height: 50px;
        border-radius: 50px;
        border: none;
        padding: 12px 20px;
        background: linear-gradient($couleur_secondaire, $couleur_primaire);
        color: $couleur_blanc;
    }

}



footer {
    padding: 20px;
    background-color: darken($color: grey, $amount: 30%);
    color: $couleur_blanc;
    padding-bottom: 50px;
}

.footer-content {
    display: flex;
    flex-direction: column;
}

.footer-item {
    padding: 2px;
}